@charset "UTF-8";

/* 回答はここに書いてね */
.q2-content {
  background-color: #eff3f4;
  padding:20px;
  width:900px;
  margin:0 auto;
}

.q2-item {
  background-color: #eff3f4;
  line-height:22px;
  font-size:18px;
  word-break:break-all;
}

.picture-left {
  margin:0px 20px 10px 0px;
  float:left;
}

.picture-right {
  margin:0 0 10px 20px;
  float:right;
}
/* 回答はここに書いてね */
