@charset "UTF-8";

/* 回答はここに書いてね */

.box0 {
  background-color: #eff3f4;
  padding:20px;
  width:900px;
  margin:auto;
}

.q1__content__text {
  background-color: #eff3f4;
  line-height:22px;
  font-size:18px;
  word-break:break-all;
}

.picture-left {
  margin:0px 20px 10px 0px;
  float:left;
}

.picture-right {
  margin:0 0 20px 10px;
  float:right;
}

/* 回答はここに書いてね */
