@charset "UTF-8";

/* 回答はここに書いてね */
.main{ 
  margin: 0 auto;
}

.main-box {
  width:900px;
  padding:20px;
  background-color:#eff3f4;
  margin:auto;
}

.q1__content__box {
  background-color: #3274ae;
  padding:20px;
  float:left;
  margin-left:20px;
}

.main-box .q1__content__box:first-child {
  margin-left:0;
}

.q1__content__text{
  width: 230px;
  background-color: #eaf4ff;
  border:solid 10px #022336;
  padding:20px;
  box-sizing:border-box;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
/* 回答はここに書いてね */
