@charset "UTF-8";

/* 回答はここに書いてね*/
.clearfix::after {
  content:"";
  display:block;
  clear:both;
}

.float-item  {
  float:left;
  width:225px;
  font-size: 16px;
  margin-left: 50px;
  box-sizing:border-box;
}

.float-content .float-item:first-child {
  margin-left:0;
}

.table-content {
display:table;
}

.table-item {
  width:225px;
  display:table-cell;
  vertical-align: middle;
  padding-left:50px;
}

.table-content .table-item:first-child {
  padding-left:0;
}

.inline-block-content {
  font-size: 0;
}

.inline-block-item {
  width:225px;
  display:inline-block;
  vertical-align: middle;
  font-size:16px;
  margin-left:50px;
  box-sizing: border-box;
}

.inline-block-content .inline-block-item:first-child {
  margin-left:0;
}

.flex-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.flex-item {
  width:225px;
  font-size: 16px;
  box-sizing: border-box;
}

.margin-content {
  font-size:0;
}

.margin-item-left{
  width:300px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}

.margin-item-right {
  width:100%;
  font-size: 16px;
  display: inline-block;
  margin-left:-300px;
  padding-left:350px;
  box-sizing: border-box;
}

/* 回答はここに書いてね */
