@charset "UTF-8";

/* 回答はここに書いてね */
.content{
  text-align: center;
}

.item,.margin-item {
  width:90px;
  padding:10px;
  background-color: #e6f2ff;
  text-align: center;
  box-sizing: border-box;
}

.item{
  display: inline-block;
}

.margin-item {
  margin:0 auto;
}

.table-content-box {
  display: table;
  text-align: center;
}

.table-content {
  display: table-cell;
  vertical-align:middle;
}

.flex-content {
  display:flex;
  justify-content:center;
  align-items:center;
}

.table-item,.flex-item {
  background-color: #fff;
  padding:10px;
  display: inline-block;
}

.position-content-left,.position-content-right {
  position: relative;
}

.position-item-left {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
}

.position-item-right {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
/* 回答はここに書いてね */
